/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

section {
  padding: 100px 0;
}

#main_nav_bar {
  padding: 0px 0;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

#about,
.services,
.skills,
.project,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}

#about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 220px;
  height: 3px;
  background: #2253c8;
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: #2253c8;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

#nav-menu {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

#nav-menu.sticky {
  padding: 15px 0;
  background: #2253c8;
}

#nav-menu .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-menu .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

#nav-menu .logo a span {
  color: #2253c8;
  transition: all 0.3s ease;
}

#nav-menu.sticky .logo a span {
  color: #000;
}

#nav-menu .menu li {
  list-style: none;
  display: inline-block;
}

#nav-menu .menu li a {
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

#nav-menu .menu li a:hover {
  color: #2253c8;
}

#nav-menu.sticky .menu li a:hover {
  color: #fff;
}

#nav-menu.sticky .menu li a {
  color: #fff;
}

.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #000;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #2e67ee;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-btn:hover {
  filter: brightness(90%);
}

.home-2,
.home {
  display: flex;
  background: url(./images/background.jpg) no-repeat center;
  background-color: #111;
  height: 50vh;
  color: #fff;
  min-height: 320px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}

.home-2 .max-width {
  width: 100%;
  display: flex;
}

.home-2 .max-width .row {
  margin-right: 0;
}

.home-2 .home-content .text-1 {
  font-size: 27px;
  margin-top: -250px;
}

.home-2 .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home-2 .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home-2 .home-content .text-3 span {
  color: #2253c8;
  font-weight: 500;
}

.home-2 .home-content button {
  border-radius: 6px;
  background: #2253c8;
  border: 2px solid #2253c8;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.home-2 .home-content a {
  display: inline-block;
  background: #2253c8;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  font-weight: 400;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.home-2 .home-content a:hover {
  color: #2253c8;
  background: none;
}

.home-2 .home-content button:hover {
  color: #2253c8;
  background: none;
}

#about {
  background-color: rgb(255, 255, 255);
  background-size: cover;
  height: 120vh;
}

#about .about-content .left {
  width: 40%;
}

#about .about-content .left img {
  height: 350px;
  width: 300px;
}

#about .about-content .right {
  width: 60%;
}

#about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

#about .about-content .right .text span {
  color: #2253c8;
}

#about .about-content .right p {
  text-align: justify;
}

#about .about-content .right a {
  display: inline-block;
  background: #2253c8;
  color: #fff;
  font-size: 25px;
  padding: 10px 30px;
  font-weight: 400;
  margin-top: 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

#about .about-content .right a:hover {
  color: #2253c8;
  background: none;
}

.services {
  background-color: #f1f5f9;
  padding-bottom: 10px;
}

.services .serv-content {
  background-color: rgb(241, 245, 249);
  padding: 100px 0;
}

.services .serv-content .serv {
  width: calc(33.3333% - 20px);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.services .serv-content .serv:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}

.services .serv-content .serv .icon {
  width: 50px;
  height: 50px;
  background-color: #2253c8;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 28px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.services .serv-content .serv:hover .icon {
  background-color: #fff;
  color: #2253c8;
}

.services .serv-content .serv h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.services .serv-content .serv p {
  font-size: 18px;
  color: #777;
}

.skills {
  background-color: rgb(255, 255, 255);
  padding-bottom: 10px;
}

.skills .skills-content {
  padding: 100px 0;
}

.skills .skills-content .column {
  width: calc(50% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
}

.skills .skills-content .column:last-child {
  margin-right: 0;
}

.skills .skills-content .column .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills .skills-content .column .text span {
  color: #2253c8;
}

.skills .skills-content .column .bars {
  margin: 10px 0;
}

.skills .skills-content .column .info {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 5px;
}

.skills .skills-content .column .line {
  height: 6px;
  width: 100%;
  background: #f1f1f1;
  position: relative;
}

.skills .skills-content .column .line::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  background: #2253c8;
}

.skills .skills-content .column .html::before {
  width: 90%;
}

.skills .skills-content .column .css::before {
  width: 80%;
}

.skills .skills-content .column .javascript::before {
  width: 70%;
}

.skills .skills-content .column .php::before {
  width: 60%;
}

.skills .skills-content .column .mysql::before {
  width: 50%;
}

.skills .skills-content .column .python::before {
  width: 40%;
}

.skills .skills-content .column .c::before {
  width: 30%;
}

.skills .skills-content .column .uiux::before {
  width: 85%;
}

.project {
  background-color: #f1f5f9;
  padding-bottom: 10px;
}

.project .project-content {
  padding: 100px 0;
}

.project .project-content .title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.project .project-content .title span {
  color: #2253c8;
}

.project .project-content .slider {
  position: relative;
  max-width: 1300px;
  margin-top: 20px;
}

.project .project-content .slider .card-container {
  display: flex;
  width: fit-content;
  gap: 20px;
  transition: transform 0.3s ease;
}

.project .project-content .slider .card {
  flex: 0 0 calc(100% - 40px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background-color: #fff;
  overflow: hidden;
}

.project .project-content .slider .card img {
  width: 100%;
  height: auto;
}

.project .project-content .slider .card .card-info {
  padding: 15px;
}

.project .project-content .slider .card .card-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.project .project-content .slider .card .card-category {
  font-size: 16px;
  color: #777;
}

.project .project-content .slider .card .card-category span {
  color: #2253c8;
}

.contact {
  background-color: rgb(255, 255, 255);
  padding-bottom: 10px;
}

.contact .contact-content {
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.contact .contact-content .column {
  flex: 0 0 calc(50% - 20px);
}

.contact .contact-content .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .text span {
  color: #2253c8;
}

.contact .contact-content .info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact .contact-content .info .icon {
  font-size: 30px;
  color: #2253c8;
  margin-right: 10px;
}

.contact .contact-content .info .info-text {
  font-size: 18px;
  font-weight: 500;
}

.contact .contact-content .social-media {
  margin-top: 20px;
}

.contact .contact-content .social-icon {
  width: 50px;
  height: 50px;
  background: #2253c8;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  margin-right: 10px;
  transition: background 0.3s ease;
}

.contact .contact-content .social-icon:hover {
  background: #fff;
  color: #2253c8;
}

footer {
  background-color: #111;
  color: #fff;
  padding: 20px 0;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer p {
  font-size: 18px;
}

footer .footer-content .footer-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

footer .footer-content .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

footer .footer-content .logo a span {
  color: #2253c8;
}

footer .footer-content .btn {
  display: inline-block;
  background: #2253c8;
  color: #fff;
  font-size: 20px;
  padding: 10px 30px;
  font-weight: 500;
  margin-top: 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

footer .footer-content .btn:hover {
  background: none;
  color: #2253c8;
}

@media (max-width: 768px) {
  .max-width {
    padding: 0 50px;
  }

  #nav-menu .logo a {
    font-size: 30px;
  }

  #nav-menu .menu li a {
    font-size: 18px;
    margin-left: 15px;
  }

  #nav-menu .menu-btn {
    display: block;
  }

  #nav-menu .menu.active {
    background: #2253c8;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    text-align: center;
    display: block;
    z-index: 999;
  }

  #nav-menu .menu.active li {
    margin: 15px 0;
  }

  #nav-menu .menu.active .menu-btn {
    display: none;
  }

  .home-2 .home-content .text-1 {
    font-size: 20px;
    margin-top: -180px;
  }

  .home-2 .home-content .text-2 {
    font-size: 50px;
  }

  .home-2 .home-content .text-3 {
    font-size: 30px;
  }

  .home-2 .home-content button,
  .home-2 .home-content a {
    font-size: 20px;
  }

  #about .about-content .left img {
    height: 300px;
    width: 250px;
  }

  #about .about-content .right {
    width: 100%;
    margin-top: 30px;
  }

  .services .serv-content .serv {
    width: calc(50% - 20px);
  }

  .skills .skills-content .column {
    width: 100%;
    margin-bottom: 20px;
  }

  .project .project-content .slider .card-container {
    gap: 10px;
  }

  .contact .contact-content .column {
    flex: 0 0 100%;
  }

  .contact .contact-content .social-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    margin-right: 8px;
  }

  footer .footer-content .logo a {
    font-size: 30px;
  }

  footer .footer-content .btn {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .max-width {
    padding: 0 30px;
  }

  #nav-menu .logo a {
    font-size: 25px;
  }

  #nav-menu .menu li a {
    font-size: 16px;
    margin-left: 10px;
  }

  .home-2 .home-content .text-1 {
    font-size: 18px;
    margin-top: -150px;
  }

  .home-2 .home-content .text-2 {
    font-size: 40px;
  }

  .home-2 .home-content .text-3 {
    font-size: 25px;
  }

  .home-2 .home-content button,
  .home-2 .home-content a {
    font-size: 16px;
  }

  #about .about-content .left img {
    height: 250px;
    width: 200px;
  }

  .skills .skills-content .column .text {
    font-size: 20px;
  }

  .skills .skills-content .column .info {
    margin-bottom: 3px;
  }

  .skills .skills-content .column .line {
    height: 5px;
  }

  .project .project-content .slider .card {
    flex: 0 0 calc(100% - 20px);
  }

  .contact .contact-content .social-icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    margin-right: 6px;
  }

  footer .footer-content .logo a {
    font-size: 25px;
  }

  footer .footer-content .btn {
    font-size: 16px;
  }
}
